
    p{

      background-color: aqua;
      text-align: center;
      color: white;

    }

    .ori{
      background-color: red;
    }

    #id{
      background-color: blue;
      text-align: center;
      font-size: larger;
    }